@font-face {
  font-family: Helvetica, sans-serif;
  src: url(fonts/HelveticaLight.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Helvetica, sans-serif;
  src: url(fonts/HelveticaBold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Helvetica, sans-serif;
  src: url(fonts/HelveticaLightOblique.ttf);
  font-weight: 300;
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: #19B394;
}
